.user-search {
    display: flex;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
} 
.input-search {
    line-height: 150%;
    letter-spacing: 0.04em;
    border: 1px solid #808080;
    border-radius: 4px;
    height: 40px;
    width: 272px;
    padding-left: 8px;
    margin-right: 8px;
}
.input-search:hover {
    border: 1px solid #000000;
}
.input-search:active {
    border: 1px solid #4e75ff;
}
.btn-search {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: transparent;
    border-radius: 8px;
    padding: 8px 16px;
    height: 40px;
    width: 91px;
    background-color: #4e75ff;
}
.btn-search:hover {
    background-color: #6C8CFF;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
  transform: scale(1.05);
}
.comment-box {
  height: 48px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
}
.img-comment-title {
  font-size: 12px;  
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.img-comment {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.loader {
  margin-left: auto;
  margin-right: auto;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
      &.hidden {
        display: none;
  }
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 